.contactBg{
    background-color: #150e56;
    background-image: radial-gradient( #6f42c1, #6610f2);
    padding-bottom: 20px;
    padding-top: 50px;
}
.letsTalk h3{
    font-weight: bold;
}
.letsTalk h1{
    font-weight: 800;
}
.contact-form label{
    color: white;
}
#contactBtn{
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    color: white;
    border: none;
    font-weight: bold;
}
.contactName{
    color: white;
    font-weight: 800;
}